* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: flex-start;
}

header {
  /* position: fixed; */
  top: 0;
  width: 100%;
  background-color: white;
  align-items: center;
  display: flex;
  justify-content: space-between;
  height: 80px;
  border-bottom: 1px solid lightgray;
}

.workfully-logo {
  margin-left: 24px;
}

.w-logo {
  width: 170px;
}

.user-roles {
  margin-right: 24px;
}

.user-roles > a {
  text-decoration: none;
  padding: 8px;
  color: #3c4858;
  font-size: large;
  font-weight: 600;
  display: inline-block;
  width: 110px;
  text-align: center;
  list-style: none;
  background-color: lightgrey;
  border-radius: 4px;
  border: 1px solid white;
  line-height: 36px;
  margin-left: 10px;
}

footer {
  text-align: center;
  padding: 8px;
  margin-top: auto;
}

.inner-separator {
  height: 1px;
  background-color: #ebedef;
  width: 100%;
  border: 0;
}
.articles__container {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 70vw;
}
.articles__container a {
  text-decoration: none;
  display: inline-block;
}

.article__preview {
  max-width: 100%;
  display: flex;
  gap: 20px;
  padding: 10px 0;
  flex-wrap: wrap;
}

.article__preview img {
  max-width: 300px;
  height: auto;
}

.article__preview--text {
  max-width: 500px;
}
.article__preview--text,
.article__preview--text p {
  padding-top: 20px;
}
